<!DOCTYPE html>
<html>
  <header><%- include('../partials/head')%></header>
  <body>
    <nav><%- include('../partials/top-navigation', {active: "404"})%></nav>
    <div class="homeDiv">
      <h1>Not Found</h1>
      <p>
          Unable to locate the requested destination.
      </p>
    </div>
    <footer><%- include('../partials/footer')%></footer>
  </body>
</html>
