<!DOCTYPE html>
<html>
  <header><%- include('../partials/head')%></header>
  <body>
    <nav><%- include('../partials/top-navigation', {active: "404"})%></nav>
    <div class="homeDiv">
      <h1>Unauthorised</h1>
      <p>
          You do not have authorisation to access this page.
      </p>
    </div>
    <footer><%- include('../partials/footer')%></footer>
  </body>
</html>
