<p id="footer-copyright">F1 Hub © Copyright 2022 Group F</p>
<a
  id="footer-social"
  href="https://github.com/CM2104-DynamicWebDevelopment/cm2104-project-2122-group_f"
  ><span class="material-icons">code</span>GitHub</a
>
