<img src="./img/f1-hub-logo-transparent.png" />
<title>F1 HUB</title>
<!-- Meta Information -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- Local Stylesheets -->
<link rel="stylesheet" href="../../css/style.css" />
<link rel="stylesheet" href="../../css/notifications.css" />
<!-- External Stylesheets -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
<link
  rel="stylesheet"
  href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
  integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
  crossorigin="anonymous"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@500"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<!-- External Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
<!-- Local Scripts -->
<script src="js/getContent.js"></script>
<script src="js/getNews.js"></script>
<script src="js/notifications.js"></script>
<!-- needs to be here for references (wont showup)-->
